@{
    ViewBag.Title = "Home Page";
}

<div id="boxy_content">
    <h2>Dla kogo przeznaczony jest serwis?</h2>
    <p>
        Serwis przeznaczony jest dla osób, które potrzebują pilnie naprawić usterkę w swoim samochodzie, a nie wiedzą do kogo mogą się zgłosić i czy dany warsztat wykona ich zlecenie.
        Serwis oferuje wybranie najbliższego warsztatu, najlepszego pod względem ocen i opinii. Dodatkowo klient może przesłać zgłoszenie opisowe lub w postaci zdjęcia.
    </p>
    <p>

    </p>
</div>